* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}
dl, ol, ul {
    margin-top: 0;
    margin-bottom:1rem;
}
ol, ul {
    padding-left: 2rem;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(4, 9, 30, 0.7);
}

nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    flex: 1;
    text-align: right;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a {
    color: #666666;
    text-decoration: none;
    font-size: 13px;
}

.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background:#7e4c4f;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after {
    width: 100%;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    animation: .7s ease-in-out 0s normal none 1 running fadeInDown;
    border-bottom: 0 solid #4a90e2;
    box-shadow: 0 0 25px #0000000a;

}

#headerPlaceholder {
    display: block;
}

.sticky+.content {
    padding-top: 102px;
}

.text-box {
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text-box h1 {
    font-size: 62px;
}

.text-box p {
    margin: 10px 0 40px;
    font-size: 14px;
    color: #fff;
}

.hero-btn {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.hero-btn:hover {
    border: 1px solid #f44336;
    background: #f44336;
    transition: 1s;
}

nav .fa {
    display: none;
}

.fav-icons ul {
    list-style: none;
    display: flex;
    margin: 0;
}

.fav-icons li {
    margin-right: 10px;
}

.fav-icons i {
    font-size: 18px;
    color: #7e4c4f;
    margin-right: 6px;
    cursor: pointer;
}

/* Add a media query for small devices */
@media (max-width: 768px) {
    .nav-links {
        position: fixed;
        background: #fff;
        height: 100vh;
        width: 100%;
        top: 0;
        right: -100%;
        text-align: left;
        z-index: 2;
        transition: right 0.5s;
        padding-top: 60px;
        /* Adjust as needed for proper display */
    }

    .nav-links ul {
        padding: 18px;
        display: block;
        background: none;
    }

    .nav-links ul li {
        list-style: none;
        border-bottom: none;
        display: block;
    }

    .nav-links.show {
        right: 0;
    }

    nav .fa {
        color: #fff;
        font-size: 22px;
        cursor: pointer;
        position: absolute;
        top: 10px;
    }

    .fa.fa-times,
    .fa.fa-bars {
        right: 10px;
        color: #7e4c4f;
        position: fixed;
        /* Ensure the icons stay fixed on the screen */
    }

    .fa.fa-times {
        display: none;
    }

    .fa.fa-bars {
        display: block;
    }

    .nav-links ul {
        padding: 30px;
    }

    /* Show close icon when menu is open */
    .nav-links.show .fa.fa-times {
        display: block;
    }

    /* Hide bars icon when menu is open */
    .nav-links.show .fa.fa-bars {
        display: none;
    }
}




.oursection {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

.ourstory {
    float: left;
    width: 50%;
    padding: 10px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
}

.ourstory .row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

/* Clear floats after the columns */
.ourstory .row:after {
    content: "";
    display: table;
    clear: both;
}

.course {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

h1 {
    font-size: 36px;
    font-weight: 600;
}

p {
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.row {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.course-col {
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}

h3 {
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}

.course-col:hover {
    box-shadow: 0 0 20px 0px;
}

@media(max-width:700px) {
    .row {
        flex-direction: column;
    }
}

.campus {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}

.campus-col {
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}

.campus-col img {
    width: 100%;
    display: block;
}

.layer {
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}

.layer:hover {
    background: #a56e7199;
}

.layer h3 {
    width: 100%;
    font-weight: 500;
    color: #fff;
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}

.layer:hover h3 {
    bottom: 49%;
    opacity: 1;
}

.facilities {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}

.facilities-col {
    flex-basis: 31%;
    margin-bottom: 5%;
    text-align: left;
    background: #f6f6f6;
}

.facilities-col img {
    width: 100%;
}

.facilities-col p {
    padding: 20px;
}

.facilities-col a {
    text-decoration: none;
    color: #7e4c4f;
}

.facilities-col h3 {
    margin-top: 13px;
    margin-bottom: 15px;
    text-align: left;
    color: #333;
    font-size: 18px;
    padding: 20px;
}

.offers {
    margin: auto;
    text-align: center;
    padding-top: 50px;
}

.deal-are {
    padding-top: 50px;
    padding-bottom: 50px;
    background: #ffffff url("assets/images/about.webp")no-repeat scroll center center / cover;
}

.deal-are .container {
    width: 80%;
    margin: auto;
}

.deal-are.section-title {
    margin-bottom: 55px;
}

.deal-are .section-title h4 {
    color: #ffffff;
    font-family: Pacifico, cursive;
    font-size: 20px;
    margin-bottom: 10px;
}

.deal-are .section-title h2 {
    color: #ffffff;
    font-size: 36px;
    font-weight: 600;
    line-height: 35px;
    margin: 0;
}

.deal-are .row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse !important;
    padding-left: 15px;
    padding-right: 15px;
}

.deal-are .column {
    width: 48%;
}

.deal-content {
    text-align: left;
}

.section-title.text-center {
    margin-bottom: 55px;
}

.deal-content h3 {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 8px;
    color: #fff;
    text-align: left;
}

.deal-pro-price span {
    font-size: 20px;
    font-weight: 500;
    color: #fff;
}

.deal-content p {
    color: #fff;
}

.deal-content a {
    text-decoration: none;
    color: #fff;
}

.discount-btn {
    margin-top: 35px;
}

.discount-btn .btn-style {
    background-color: #ffffff;
    color: #7e4c4f !important;
    display: inline-block;
    padding: 18px 30px 17px;
    text-decoration: none;
    border-radius: 50px;
    transition: background-color 0.3s ease;
}

.discount-btn .btn-style:hover {
    background-color: #7e4c4f;
    color: #fff !important;
}

.deal-img {
    overflow: hidden;
    border-radius: 5px;
}

.deal-img img {
    width: 400px;
    height: auto;
    border-radius: 5px;
    transition: transform 0.3s ease;
}

@media (max-width: 768px) {
    .deal-img img {
        width: 100%;
        max-width: 100%;
        height: auto;
        border-radius: 5px;
        transition: transform 0.3s ease;
    }
    .deal-are .container {
        width: 100%;
        margin: auto;
    }
}

.deal-img:hover img {
    transform: scale(1.1);
}

@media (max-width: 768px) {
    .deal-are .row {
        flex-direction: column;
    }

    .deal-are .column,
    .deal-are .column {
        width: 100%;
        margin-bottom: 20px;
    }
}

.testimonials {
    width: 80%;
    margin: auto;
    padding-top: 100px;
    text-align: center;
}

.testimonials-col {
    flex-basis: 30%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
    background: #dfc1c22e;
    padding: 25px;
    cursor: pointer;
    display: flex;
}

.testimonials-col img {
    height: 40px;
    margin-left: 5px;
    margin-right: 30px;
    border-radius: 50%;
}

.testimonials-col p {
    padding: 0;
}

.testimonials-col h3 {
    margin-top: 15px;
    text-align: left;
}

.testimonials-col .fa {
    color: #f44336;
}

@media(max-width:700px) {
    .testimonials-col img {

        margin-left: 0px;
        margin-right: 15px;

    }
}

.footer_section {
    padding: 50px 0 0;
    background-color: black;
}

.contact_div {
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
    color: #fff;
}

.footer_section .row {
    margin-right: auto;
    margin-left: auto;
    max-width: 1140px;
}

.footer_section img {
    width: 150px;
}

.contact_div a {
    color: white;
    text-decoration: none;
    font-weight: 400;
    margin-left: 4px;
}

.contact_div ul {
    list-style: none;
    text-align: left;
    line-height: 30px;
}

.contact_div div {
    font-size: 16px;
    margin: 25px 0 35px;
}



/*   Start global   */

* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-decoration: none;
    font-family: arial, tahoma;
    list-style: none;
    /*    outline: 1px solid brown;*/
}

/*   End global   */




/*   Start navigation bar   */

nav {
    height: 115px;
    background-color: #fff;
    border-bottom: 1px solid #555
}

.logo {
    padding: 10px;
    width: auto;
    float: left;
}

.logo img {
    height: 100px;
    width: auto;
}

.list-item {
    float: right;
    margin-right: 25px;
    margin-top: 17px;
}

.list-item li {
    float: left;
    padding: 13px 13px;
    font-size: 18px;
    border-radius: 3px;
    transition: all .7s ease-in-out;
}

.list-item li a {
    color: #EEE;
}

/* .list-item li:hover {
    background-color: brown;
} */

/*   End navigation bar   */





/*   Start nav bar for small screens   */

.icon {
    display: none;
}

.toggle {
    float: right;
    margin: 20px;
    color: #EEE;
    font-size: 30px;
    border: 1px solid #EEE;
    padding: 0px 5px;
    border-radius: 4px;
    cursor: pointer;
}

/*   End nav bar for small screens   */

/*   Start media query   */

@media (max-width: 1309px) {
    .icon {
        display: block;
        width: 100%;
        height: 80px;
        background-color: #111;
        border-bottom: 1px solid #444;
    }

    .list-item {
        width: 100%;
        margin: 0;
        padding: 0;
        position: relative;
        top: -4px;
        background-color: #222;
        display: none;
    }

    .list-item li {
        text-align: center;
        display: block;
        border-bottom: 1px solid #333;
        float: none;
    }
}


/*   End media query   */

.slider {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background: #000;
    overflow: hidden;
    transition: transform 0.5s ease-in-out;
}

.slider .imgBx {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* transition: transform 0.5s ease-in-out; */
    z-index: 1;
}

.slider input[type="radio"]:checked+.imgBx {
    left: 0;
    z-index: 10;
}

.slider .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider .imgBx .content {
    position: relative;
    text-align: center;
    max-width: 800px;
    transition: transform 0.5s ease-in-out;
}

.slider .imgBx .content h2 {
    font-size: 4em;
    line-height: 65px;
    color: #fff;
    font-weight: 900;
    transition: transform 0.5s ease-in-out;
}

.slider .imgBx .content p {
    font-size: 1.1em;
    color: #fff;
    transition: transform 0.5s ease-in-out;
}

.slider .imgBx .content a {
    position: relative;
    margin-top: 20px;
    text-decoration: none;
    transition: transform 0.5s ease-in-out;
    background-color: #fff;
    color: #7e4c4f;
    border-radius: 50px;
    display: inline-block;
    font-weight: 700;
    line-height: 1;
    padding: 20px 45px;
}

.slider .imgBx .content a:hover {
    background-color: #7e4c4f;
    color: #fff;
    border: none;
}

.slider input[type="radio"] {
    position: relative;
    z-index: 1000;
    margin: 5px;
    margin-bottom: 40px;
    outline: none;
    cursor: pointer;
    transition: transform 0.5s ease-in-out;
}

@media (max-width: 768px) {
    .header {
        padding: 20px 40px;
    }

    .slider .imgBx {
        padding: 40px;
    }

    .slider .imgBx .content h1 {
        font-size: 3em;
    }

    .slider .imgBx .content p {
        font-size: 1em;
        color: #fff;
        margin-top: 10px;
    }

    .slider .imgBx .content h2 {
        font-size: 3em;
        line-height: 50px;
    }
    .slider .imgBx .content br{
        display:none;
    }
}

/* About us page */
.aboutus {
    height: 260px;
}

.our-team {
    width: 80%;
    margin: auto;
    text-align: center;
    padding: 100px;
}

.about-section {
    padding: 50px;
    text-align: center;
    background-image: url("https://elsasusan98.github.io/Paws_and_Prints/assets/images/about.webp");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    background-position: center center;
    height: 250px;
}

.about-section h2 {
    font-size: 4em;
    line-height: 1em;
    color: #fff;
    font-weight: 900;
    padding: 50px;
}

@media (max-width: 768px) {
    .aboutus .about-section {
        padding: 20px;
        height: auto;
    }

    .aboutus .about-section h2 {
        font-size: 2.5em;
        padding: 20px;
    }
    .aboutus{
        height: 150px;
    }
}

.our-team .column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
}

.our-team .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
}

.our-team .card img {
    height: 335px;
    width: auto;
}

.our-team .container {
    padding: 20px 16px;
}

.our-team h2 {
    padding-top: 20px;
    font-size: 40px;
}

.our-team .container::after,
.row::after {
    content: "";
    clear: both;
    display: table;
}

.our-team .title {
    color: grey;
    font-size: 16px;
}

.our-team .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color:#7e4c4f;
    text-align: center;
    cursor: pointer;
    width: 100%;
}
.our-team p{
    padding: 6px;
}

.our-team .button:hover {
    background-color: white;
    color: #7e4c4f;
    border: 1px solid #7e4c4f;
}

@media screen and (max-width: 650px) {
    .our-team .column {
        width: 100%;
        float: none; 
        margin-bottom: 16px;
        padding: 0 8px;
      }
    
      .our-team .card img {
        height: auto;
        max-width: 100%; 
      }
    .our-team{
        padding: 20px;
    }


}

.about-our-pets {
    margin: auto;
    text-align: center;
    padding: 40px;
}

.about-us-area .row {
    display: flex;
    flex-wrap: wrap;
}

.about-us-area .column {
    flex: 1;
    padding: 0 15px;
}

.about-us-content {
    text-align: left;
    order: 2;
}

.about-us-content p {
    font-size: 16px;
    text-align: left;
    margin: 0 0 18px;

}

.about-us-list {
    margin: 20px 0 34px;
}

.about-us-list>ul {
    position: relative;
}

.about-us-list ul li {
    display: block;
    font-size: 16px;
    list-style: outside none none;
    margin-bottom: 7px;
    padding-left: 24px;
    position: relative;
    color: #777;
    font-weight: 400;
}

.about-us-list ul li:before {
    color: #454545;
    content: "\e724";
    display: inline-block;
    font-family: themify;
    font-size: 17px;
    left: 0;
    position: absolute;
    top: -1px;
}

.about-us-btn .btn-style {
    border-radius: 50px;
    color: #fff;
    display: inline-block;
    font-size: 14px;
    padding: 18px 30px 17px;
    text-align: center;
    text-transform: uppercase;
    transition: all .3s ease 0s;
    background: #4c3732;
    text-decoration: none;
}

.about-us-btn {
    margin-left: 10px;
}

.about-us-img {
    order: 1;
}
@media (max-width: 767px) {
    .about-our-pets {
      padding: 40px; 
    }
    .about-us-img {
        order: 2;
        text-align: center; 
        margin-top: 20px; 
      }
    
      .about-us-img img {
        width: 100%; 
        margin-top: 50px;
      }
    .about-us-area .column {
      flex: 1 100%; 
      padding: 0;
    }
  
    .about-us-content {
      text-align: center; 
    }
  
    .about-us-content p {
      text-align: center; 
    }
  
    .about-us-btn {
      margin-top: 20px; 
    }
    
    .about-us-img {
      order: 1; 
    }
  }
  
@media (max-width: 767px) {

    .about-us-content,
    .about-us-img {
        order: initial;
    }
}

#counterArea {
    padding: 50px 0;
    background: #f6f6f6 no-repeat scroll center center / cover;
    padding-top: 15px;
    padding-bottom: 70px;
}

.project-count-area .count-item {
    flex: 1;
    padding: 0 15px;
}

.project-count-area .single-count {
    margin-bottom: 30px;
    text-align: center;
}

.project-count-area .count {
    font-size: 48px;
    margin-bottom: 10px;
    color: #333;
    /* Adjust color as needed */
}

.project-count-area span {
    display: block;
    font-size: 18px;
    color: #666;
    /* Adjust color as needed */
}

.project-count-area .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.project-count-area .column {
    width: 100%;
}

  
.footer-top {
    background-color: #f3f3f3;
    padding: 50px 0;
}

.footer-top .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
}

.footer-top .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
}
.footer-bottom .row{
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
}
#footer-bottom-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.copyright {
    margin: 0; 
}
.footer-top .column {
    width: 100%;
    margin-bottom: 30px;
    flex: 1 0 0%;
    margin-right: 20px;
    margin-left: 20px;
}

.footer-logo img {
    height: auto;
    max-width: 100%;
    width: 150px;
}

.footer-widget {
    margin-bottom: 30px;
}

.footer-info-wrapper {
    text-align: left;
}

.footer-widget p {
    color: #6c6c6c;
}

.social-icon ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.social-icon ul li {
    display: inline-block;
    margin-right: 10px;
}

.social-icon ul li a {
    color: #3e3e3e;
    font-size: 20px;
    text-decoration: none;
}

.social-icon ul li a:hover {
    color: #7e4c4f;
}

.footer-title {
    color: #575757;
    margin-bottom: 25px;
    font-size: 24px;
}

.footer-content ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-content ul li {
    margin-bottom: 10px;
}

.footer-content ul li a {
    color: #6c6c6c;
    text-decoration: none;
    font-size: 14px;
}

.footer-content ul li a:hover {
    color: #7e4c4f;
}

.newsletter-style {
    margin: 26px 0 38px;
}

.footer-widget .subscribe-form {
    background: none;
    border: 0;
    border-radius: 0;
    box-shadow: none;
    font-size: 13px;
    height: 45px;
    margin: 0 auto;
    padding: 0;
    width: 100%;
}

.newsletter-style form {
    position: relative;
    margin-bottom: 0;
}

.newsletter-wrapper p {
    color: #6c6c6c;
}

.subscribe-form form input {
    background: #ffffff none repeat scroll 0 0;
    color: #ffffff;
}

#section-footer .subscribe-form form>input {
    background: #ffffff none repeat scroll 0 0;
    color: #ffffff;
}

.subscribe-form form input {
    background: #fff none repeat scroll 0 0;
    border: medium none;
    border-radius: 50px;
    box-shadow: 0 0 13px 1.8px #0000000d;
    color: #c3c3c3;
    font-size: 13px;
    height: 45px;
    padding: 0 100px 0 15px;
    width: 100%;
}

.subscribe-form .clear input {
    background: transparent none repeat scroll 0 0;
    border: medium none;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    font-weight: 700;
    height: auto;
    padding: 8px 23px 11px;
    width: auto;
}

.subscribe-form .clear input:hover {
    background-color: #000;
    color: #fff;
}

.subscribe-form .mc-form .clear {
    background: #7e4c4f none repeat scroll 0 0;
    border-radius: 50px;
    bottom: 4px;
    cursor: pointer;
    position: absolute;
    right: 4px;
    top: 4px;
    transition: all .3s ease 0s;
    z-index: 999;
}

.subscribe-form .mc-form .clear:hover {
    background: #242424 none repeat scroll 0 0;
}

.subscribe-form .clear:hover input {
    color: #ffffff;
}

.payment-img img {
    width: 100%;
    height: auto;
}

#footer-bottom-footer.footer-bottom {
    background: #e0e0e0;
}

#footer-bottom-footer .copyright>p a {
    color: #7e4c4f;
    text-decoration: none;
}

@media (max-width: 768px) {
    .footer_section {
        padding: 30px 0 0;
    }

    .footer-widget,
    .footer-widget p {
        text-align: center;
    }

    .social-icon,
    .footer-logo {
        text-align: center;
    }

    .contact_div {
        flex-basis: 100%;
        margin-bottom: 5%;
    }

    .footer_section .row {
        padding: 0 15px;
    }

    .footer_section img {
        width: 100%;
        max-width: 150px;
    }
}


/* Sevices page style  */
.services {
    padding: 70px 0;

}

.main-blog-page {
    margin-bottom: 68px;
    margin-top: -2px;
}

.main-blog-page .container {
    width: 1170px;
    max-width: 1200px;
    margin: 0 auto;
}

.main-blog-page .row {
    margin-right: -15px;
    margin-left: -15px;
    display: flex;
    flex-wrap: wrap;
}

.main-blog-page .column {
    width: 100%;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

@media screen and (max-width: 767px) {
    .main-blog-page .column {
      width: 100%;
      margin-bottom: 20px;
    }
    .main-blog-page .container {
        width: 100%; 
        padding: 0 20px; 
    }
    .main-blog-page .single-item-img {
        text-align: center;
        width: 100%;
    }

    .main-blog-page .single-item-content {
        padding: 20px; /* Add padding for better spacing */
    }
    .single-item-img img{
        width: 100% !important;
    }
  }

.blog-post-single-item {
    overflow: hidden;
    border: 1px solid #e5e5e5;
    margin: 0 0 30px;
    padding-bottom: 30px;
}

.single-item-img img {
    width: 100%;
    height: auto;
    float: left;
    width: 40%;
}

.single-item-content {
    margin-top: -3px;
    overflow: hidden;
    padding: 0 15px 0 30px;
}

.single-item-content h2 {
    margin-bottom: 5px;
    margin-top: 5px;
}

.single-item-content h2 a {
    color: #222;
    font-family: Montserrat;
    font-size: 30px;
    margin-top: 20px;
    display: block;
    line-height: 22px;
    text-decoration: none;
}

.single-item-content h4 {
    font-size: 13px;
    font-style: italic;
    font-weight: 500;
    float: left;
    margin: 0;
    padding: 5px 0 15px;
}

.single-item-content p {
    font-size: 14px;
    display: block;
    overflow: hidden;
    width: 100%;
}

.read-more-btn {
    display: inline-block;
    padding: 10px 15px;
    background-color: #7e4c4f;
    color: #fff;
    text-decoration: none;
}

.read-more-btn:hover {
    background-color: #242424;
}

.two-thirds {
    width: calc(100% * 2/3);
    flex: none;
}

/* Products page style */
.product_section {
    width: 80%;
    margin: auto;
    text-align: center;
    padding: 20px;
    margin-bottom: 30px;
    overflow: auto;
    margin-top: 30px;
}

.grid-list-product-wrapper {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: calc(32.33% - 20px);
    margin-bottom: 20px;
    box-sizing: border-box;
}

.grid-list-product-wrapper:hover {
    border: 1px solid #777;
}

.grid-list-product-wrapper img {
    width: 100%;
    height: auto;
    display: block;
}

.grid-list-product-wrapper .desc {
    padding: 15px;
    text-align: center;
}


@media (max-width: 768px) {
    .grid-list-product-wrapper {
        width: calc(50% - 10px);
    }
}
@media screen and (max-width: 767px) {
    .product_section {
        padding: 20px; 
    }

    .filter-section {
        flex-direction: column; 
    }

    .shop-widget {
        margin-bottom: 20px; 
    }

    .shop-list-style ul li {
        margin-bottom: 10px; 
    }

    .grid-list-product-wrapper {
        width: 100%;
    }
}

.footer-area {
    margin-top: 50px;
}

.product_section .container {
    display: flex;
    width: 100%;
    margin: auto;
}

.filter-section .shop-widget {
    margin-bottom: 50px;
}

.filter-section .shop-widget h4 {
    text-align: left;
}

.shop-list-style {
    margin-top: 20px;
    text-align: left;
}

.filter-section {
    flex: 1;
    background: #f6f6f6 !important;
    padding: 20px !important;
}

.product-view {
    flex: 3;
    display: flex;
    flex-wrap: wrap;
    margin-left: 20px;
}
.product-view .product-price{
    padding: 10px;
}

.sidebar-price-filter {
    display: flex;
    justify-content: space-between;
}

.sidebar-price-filter input {
    width: 80px;
    padding: 10px 5px;
    background: transparent;
    border: 1px solid #e5e5e5;
}

.sidebar-price-filter label {
    font-size: 14px;
}

.sidebar-price-filter input {
    width: 80px;
    padding: 10px 5px;
    background: transparent;
    border: 1px solid #e5e5e5;
}

.shop-list-style input.button {
    background-color: #000;
    border: medium none;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    height: 40px;
    line-height: 24px;
    margin-bottom: 0;
    padding: 8px 25px;
    border-radius: 0;
    text-align: center;
    margin-top: 10px;
    width: 100%;
}

.shop-list-style input.button:hover {
    background-color: #7e4c4f;
}

/* Responsive layout adjustments */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
        /* Change to a column layout on smaller screens */
    }

    .product_section .filter-section {
        background: #f6f6f6 !important;
        padding: 20px !important;
    }

    .filter-section,
    .product-view {
        flex: 1;
        padding: 20px;
    }

    .grid-list-product-wrapper {
        width: calc(100% - 10px);
    }
}

/* blog page style */
.blog-section {
    padding: 60px 0;

}

.blog-detail-page {
    max-width: 1200px;
    /* Set the maximum width of the blog content */
    margin: auto;
}

.blog-img {
    margin-bottom: 30px;
}

.blog-img img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    /* Add border-radius for rounded corners */
}

.blog-details-content {
    margin-bottom: 20px;
}

.blog-details-content h2 {
    font-size: 24px;
    color: #333;
    /* Set the color of the heading */
}

.blog-meta {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    font-size: 16px;
    color: #777;
    /* Set the color of the meta information */
}

.blog-meta li {
    margin-right: 20px;
    color: #575757;
    display: inline-block;
    list-style: outside none none;
    margin: 0 11px 0 0;
    position: relative;
}

.blog-meta a {
    color: #007bff;
    /* Set the color of the meta link */
    text-decoration: none;
}

.blog-meta a:hover {
    text-decoration: underline;
}

.blog-details-content p {
    font-size: 16px;
    line-height: 1.6;
    color: #555;
    /* Set the color of the text */
}

blockquote.importent-title {
    margin: 20px 0;
    padding: 15px;
    border-left: 2px solid #007bff;
    /* Set the border color for the blockquote */
    background-color: #f4f4f4;
    /* Set the background color for the blockquote */
}

blockquote h4 {
    font-size: 18px;
    color: #333;
    /* Set the color of the blockquote text */
}

.dec-img-wrapper {
    margin-top: 30px;
}

.dec-img img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    /* Add border-radius for rounded corners */
}

.blog-section .container {
    display: flex;
    width: 100%;
    margin: auto;
    max-width: 1320px;
}
.blog-section .row{
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
}
.shop-sidebar {
    flex: 1;
    background: #f5f2f2 !important;
    padding: 20px !important;
    margin-right: 30px;
}

.blog-detail-page {
    flex: 3;
    display: flex;
    flex-wrap: wrap;
}
.dec-img{
    margin-right: 25px;
    margin-left: 25px;
}

.shop-sidebar-title {
    color: #242424;
    font-size: 16px;
    font-weight: 600;
    margin: 0;
}

dt {
    font-weight: 700;
}

.shop-list-style ul.blog_links li a {
    display: inline-block;
    color: #333;
    font-size: 14px;
    text-decoration: none;
    margin-top: 10px;
}

.blog-details-content>h2 {
    font-size: 30px;
    font-weight: 700;
    text-transform: capitalize;
}

.blog-meta {
    margin: 0 0 10px;
}

.single-blog-wrapper>p {
    font-size: 14px;
    margin: 0;
}

.dec-img-wrapper .column {
    flex: 0 0 50%;
    max-width: 50%;
}

@media screen and (max-width: 767px) {
    .blog-section {
        padding: 20px 0; 
    }

    .blog-section .container {
        flex-direction: column; 
    }

    .shop-sidebar {
        flex: 1;
        order: 2; 
    }

    .blog-detail-page {
        flex: 3;
        order: 1; 
    }

    .blog-img {
        margin-bottom: 20px; 
    }

    .blog-meta li {
        margin-right: 10px; 
    }

    .dec-img-wrapper .column {
        flex: 0 0 100%; 
        max-width: 100%;
    }
    .dec-img {
        padding-top: 4px;
    }
    .dec-img-wrapper{
        margin: 0;
    }
}

/* contact us page style */
.contact-section {
    padding: 100px;
}

.contact-section .row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}
.contact-section .map.row{
    flex-direction: column;
}
.contact-info-col {
    flex: 0 0 33.33%;
    padding: 0 15px;
    box-sizing: border-box;
}

.contact-info-wrapper {
    background-color: #fff;
    border: 1px solid #eaeaea;
    overflow: hidden;
    padding: 40px 15px 34px;
    text-align: center;
}

.contact-info-icon {
    margin-bottom: 20px;
}

.contact-info-content h4 {
    color: #424242;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
}

.contact-info-content p {
    color: #666;
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 3px;
}

.contact-info-icon i {
    border: 2px solid #7e4c4f;
    color: #7e4c4f;
}

.contact-info-icon i {
    border: 2px solid #7e4c4f;
    border-radius: 50px;
    color: #7e4c4f;
    display: inline-block;
    font-size: 30px;
    height: 60px;
    line-height: 55px;
    transition: all .3s ease 0s;
    width: 60px;
}

.contact-info-icon i:hover {
    color: white;
    background-color: #7e4c4f;
}

.contact-info-content p a {
    text-decoration: none;
    color: #666;
}

.contactus-form {
    margin-top: 40px !important;
    width: 100%;
}

.contactus-form h4 {
    font-size: 20px;
    font-weight: 700;
    margin: 0 4px 0 20px;
}

.contactus-form input {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #eaeaea;
    color: #454545;
    height: 45px;
    padding-left: 20px;
    font-size: 14px;
}

.contactus-form textarea {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #eaeaea;
    color: #454545;
    margin-right: 15px;
}

.contactus-form form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
}

.contactus-form input[type="text"],
.contactus-form input[type="email"] {
    display: inline-block;
    width: calc(48% - 1px);
    margin-right: 15px;
    margin-bottom: 30px
}

.contactus-form input[id="subject"] {
    width: 100%;
}

.contactus-form input,
.contactus-form textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.contactus-form textarea {
    width: 100%;
    resize: vertical;
}

.submit-button-style {
    background-color: #7e4c4f;
    border: medium none;
    cursor: pointer;
    margin-top: 30px;
    color: #fff;
    font-weight: 600;
    border-radius: 50px;
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    line-height: 1;
    padding: 18px 30px 17px;
    text-align: center;
    text-transform: uppercase;
    transition: all .3s ease 0s;
}

.submit-button-style:hover {
    background-color: #242424;
}

.location-map {
    position: relative;
    overflow: hidden;
    height: 500px;
    margin-top: 20px;
}

.location-map iframe {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: rgb(229, 227, 223);
}
@media screen and (max-width: 767px) {
    .contact-section {
        padding: 50px; 
    }

    .contact-info-col {
        flex: 0 0 100%; 
        margin-bottom: 20px;
    }
    .contactus-form input[type="text"],
    .contactus-form input[type="email"] {
    display: inline-block;
    width: calc(100% - 1px);
    margin-right: 15px;
    margin-bottom: 30px
}

    .contact-info-wrapper,
    .contactus-form {
        padding: 20px; 
    }

    .location-map {
        height: 300px; 
    }
}
